# Habilitamos la reescritura.
RewriteEngine On

# Directorio de la instalacion.
RewriteBase /

# Ponemos el entorno en modo depuracion. Para ponerlo en produccion cambiar a 0.
SetEnv MARIFA_DEBUG 1

# Instalador.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^installer/.* installer.php/$0 [L]

# Permitimos archivos y directorios mostrarse directamente.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Enviamos el resto a index.php/URL
RewriteRule .* index.php/$0 [PT]