.navbar-fixed-top .btn-toolbar {
    margin: 0;
}

.profile-statistics {
    .well {
        min-height: 18px;
        padding: 10px 15px;
        box-shadow: none;
        margin-bottom: 10px;
        text-transform: capitalize;
        &:hover {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
            border-color: rgba(0, 0, 0, 0.1);
        }
    }
}

.profile {
    margin-bottom: 20px;
    .thumbnail {
        &:hover {
            border-color: #0088CC;
        }
    }

    .mensaje-personal {
        padding: 5px 0;
    }

    h1.title {
        text-transform: capitalize;
        margin-bottom: 5px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        small {
            vertical-align: middle;
            font-size: 14px;
        }
    }
}

.profile-data {
    h3.title {
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    table th {
        width: 1px;
        white-space: nowrap;
    }
}